*{
    margin: 0;
    padding: 0;
    max-height: 100%;
    
}
.header{
    
    height: 15vh;
    width: 100%;


}
.line{
 
    background-color: rgb(180, 192, 17);
    height: 4px;
    width: 100%;

}
.logo1{


    max-height: 30vh;
    max-width: 30vh;
    margin-top: -50px;
    margin-left: 30px;
}
#heading{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(48, 54, 54);
    font-size: 8vh;
    margin-top: -145px;
    text-align: center;
    
}
